[Desktop Entry]
Name=Creature's Den
Comment=Open Creature's Den in Browser
Exec=sh -c '$HOME/.config/scripts/librewolf-workspace.sh https://creatures-den.fly.dev'
Icon=creatures-den_icon
Terminal=false
Type=Application
Categories=Network
